$componentRoot: 'components/Shared/Timeline/Assets/';

$transitionDuration: .2s;

$color1: $paletteColor5; // Header background
$color2: $paletteColor8; // red
$color3: $paletteColor11; // Text on dark background
$color4: $paletteColor3; // prev
$color5: $paletteColor2; // next
$color6: $paletteColor6; // White
$color7: $paletteColor15; // Header text
