$componentRoot: 'components/Footer/Shows/Assets/';

$transitionDuration: .2s;

$color1: $paletteColor3; // text in categories
$color2: $paletteColor2; // links and hover links in categories
$color3: $paletteColor8; // red label background
$color4: $paletteColor6; // white label text
$color5: $paletteColor9; // text in about
