// TODO Убрать "16" в переменную

@mixin fontSize($font, $line:null) {
    @if $line != null {
        $lineRem: ($line / 16);
        $linePx: $line;
        line-height: $linePx + px;
        line-height: $lineRem + rem;
    }

    // scss-lint:disable DuplicateProperty
    $fontRem: ($font / 16);
    $fontPx: $font;
    font-size: $fontPx + px;
    font-size: $fontRem + rem;
}
