{
  "parser": "babel-eslint",
  "extends": "eslint-config-hope",
  "env": {
    "mocha": true,
    "browser": true
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "webpackIsomorphicTools": true,
    "fetch": true
  },
  "rules": {
    "generator-star-spacing": 0
  }
}
