& {
    @import 'mobile';

    h1 {
        margin-top: 0;
        font-size: px(52);
        font-weight: 100;

        &::after {
            width: px(48);
            margin-top: px(52);
        }
    }

    p {
        width: px(816);
        margin-top: px(54);
        color: $color1;
        font-size: px(26);
        font-style: italic;
        line-height: px(32);
        text-align: center;

        b {
            display: block;
        }
    }
}
