$componentRoot: 'components/Footer/Navigation/Assets/';

$color1: $paletteColor6;
$color2: $paletteColor3;
$color3: #2993b3;
$color4: #386596;
$color5: #d7981b;
$color6: #ac4a3d;
$color7: #3a6885;
$color8: #765d2d;
$color9: #d1dddd;
$color10: #aab0b2;
$color11: $paletteColor2;
$color12: $paletteColor4;
$transitionDuration: .2s;
