@import '../desktop';

& {
    .scheduler {
        .clock {
            left: px(450);
            width: px(72);
            height: px(36);
            padding-left: px(8);

            span {
                font-size: px(22);
                line-height: px(36);

                &::after {
                    top: px(42);
                    left: px(26);
                }
            }
        }

        .episodes {
            padding: px(48) 0 px(12);

            .episode1 {
                .timeline {
                    width: px(266);

                    .prev {
                        width: px(266);
                    }
                }
            }

            .episode2 {
                margin-left: px(28);

                .timeline {
                    width: px(523);

                    .prev {
                        width: px(185);
                    }

                    .next {
                        width: px(326);
                        margin-left: px(12);
                    }
                }

                .info {
                    //margin-left: px(2);

                    .time {
                        font-size: px(26);
                    }
                }
            }

            .episode3 {
                margin-left: px(27);

                .timeline {
                    width: px(302);

                    .next {
                        width: px(302);
                    }
                }

                .info {
                    margin-left: px(4);

                    .time {
                        font-size: px(26);
                    }

                    .label {
                        margin-left: px(13);
                        font-size: px(26);
                    }
                }
            }

            .episode4 {
                margin-left: px(26);

                .timeline {
                    width: px(418);

                    .next {
                        width: px(418);
                    }
                }

                .info {
                    .time {
                        font-size: px(26);
                    }
                }
            }

            .episode5 {
                .timeline {
                    width: px(187);

                    .next {
                        width: px(187);
                    }
                }

                .info {
                    margin-left: px(3);

                    .time {
                        font-size: px(26);
                    }
                }
            }

            .episode6 {
                margin-left: px(33);

                .timeline {
                    width: px(306);

                    .next {
                        width: px(306);
                    }
                }

                .info {
                    margin-left: px(5);

                    .time {
                        font-size: px(26);
                    }
                }
            }
        }
    }
}
