& {
    display: flex;
    justify-content: space-between;
    padding: px(80) px(174) 0 px(168);

    a {
        display: block;
        width: px(480);
        height: px(110);
        border: px(2) solid $color1;
        border-radius: 4px;
        color: $color1;
        font-size: px(36);
        line-height: px(110);
        text-align: center;
        text-decoration: none;

        &:hover,
        &:active {
            background-color: $color1;
            color: $color2;
        }
    }
}
