& {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding-bottom: px2vw(112, $scaleFactor);

    &::after {
        position: absolute;
        bottom: 0;
        left: px2vw(56, $scaleFactor);
        width: 95%;
        height: 4px;
        background-image: url($componentRoot + 'Images/divider-bg.svg');
        content: '';
    }

    > section {
        flex-basis: 33%;
        flex-direction: column;
        align-items: center;
        margin-top: px2vw(78, $scaleFactor);

        &::after {
            display: none;
        }
    }

    .internet {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 3;

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
            margin-right: px2vw(100, $scaleFactor);
            padding-right: 0;

            i {
                width: px2vw(126, $scaleFactor);
                margin-left: px2vw(16, $scaleFactor);
            }

            h1 {
                width: max-content;
                margin: px2vw(42, $scaleFactor) px2vw(16, $scaleFactor) 0;
                color: $titleColor;
                font-size: px2vw(44, $scaleFactor);

                &::after {
                    display: block;
                    width: px2vw(50, $scaleFactor);
                    height: px2vw(6, $scaleFactor);
                    margin-top: px2vw(36, $scaleFactor);
                    margin-left: px2vw(196, $scaleFactor);
                    background-color: $titleAfterColor;
                    content: '';
                }
            }
        }

        p {
            width: px2vw(335, $scaleFactor);
            margin: px2vw(50, $scaleFactor) auto 0;
            font-size: px2vw(30, $scaleFactor);
            line-height: px2vw(36, $scaleFactor);
            text-align: center;
        }

        .apps {
            display: flex;
            width: px2vw(490, $scaleFactor);
            margin-top: px2vw(44, $scaleFactor);
            margin-right: px2vw(92, $scaleFactor);
            margin-left: 0;

            a {
                flex-shrink: 0;
                width: px2vw(120, $scaleFactor);
                height: px2vw(120, $scaleFactor);

            }

            .androidLink {
                border: 1px solid $androidColor;
                border-radius: 6px;

                &:hover {
                    background: $androidColor;
                    cursor: pointer;

                    i {
                        path {
                            fill: $btnHoverColor;
                        }
                    }
                }

                i {
                    width: px2vw(78, $scaleFactor);
                    margin: px2vw(15, $scaleFactor) auto 0;
                }
            }

            .appleLink {
                border: 1px solid $textTuner;
                border-radius: 6px;

                &:hover {
                    background: $textTuner;
                    cursor: pointer;

                    i {
                        path {
                            fill: $btnHoverColor;
                        }
                    }
                }

                i {
                    width: px2vw(64, $scaleFactor);
                    margin: px2vw(17, $scaleFactor) auto 0;
                }
            }


            div {
                display: flex;
                position: relative;
                align-items: center;
                text-align: center;

                span {
                    margin-bottom: 0;
                    color: $textTuner;
                    font-size: px2vw(28, $scaleFactor);
                    font-weight: bold;
                    line-height: px2vw(28, $scaleFactor);
                }

                i {
                    position: absolute;
                    width: px2vw(67, $scaleFactor);
                }

                .appleArrow {
                    right: px2vw(22, $scaleFactor);

                    path {
                        fill: $textTuner;
                    }
                }

                .androidArrow {
                    bottom: 0;
                    left: px2vw(26, $scaleFactor);
                    transform: rotate(180deg);

                    path {
                        fill: $androidColor;
                    }
                }

            }
        }

        .searchUs {
            width: px2vw(500, $scaleFactor);
            margin: px2vw(40, $scaleFactor) px2vw(86, $scaleFactor) 0 0;
            font-size: px2vw(28, $scaleFactor);
        }

        .watchOnline {
            width: auto;
            margin-top: px2vw(56, $scaleFactor);
            margin-left: px2vw(64, $scaleFactor);
            font-size: px2vw(28, $scaleFactor);
            text-align: left;
        }

        .btn {
            width: px2vw(384, $scaleFactor);
            height: px2vw(80, $scaleFactor);
            margin-top: px2vw(48, $scaleFactor);
            margin-left: px2vw(90, $scaleFactor);
            font-size: px2vw(28, $scaleFactor);

            &::before {
                width: px2vw(39, $scaleFactor);
                margin-right: px2vw(32, $scaleFactor);
            }
        }
    }

    .satellite {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
        padding-left: px2vw(120, $scaleFactor);

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            i {
                width: px2vw(106, $scaleFactor);
                margin: 0 px2vw(36, $scaleFactor) 0 0;
            }

            h1 {
                width: max-content;
                margin: px2vw(42, $scaleFactor) 0 0 px2vw(30, $scaleFactor);
                color: $titleColor;
                font-size: px2vw(44, $scaleFactor);

                &::after {
                    display: block;
                    width: px2vw(50, $scaleFactor);
                    height: px2vw(6, $scaleFactor);
                    margin-top: px2vw(40, $scaleFactor);
                    margin-left: px2vw(178, $scaleFactor);
                    background-color: $titleAfterColor;
                    content: '';
                }
            }
        }

        ul {
            width: 100%;
            margin: px2vw(38, $scaleFactor) auto 0;

            li {
                display: flex;
                margin-bottom: px2vw(36, $scaleFactor);

                span {
                    &:nth-child(1) {
                        display: block;
                        flex-basis: 50%;
                        margin-top: px2vw(-2, $scaleFactor);
                        margin-right: px2vw(18, $scaleFactor);
                        color: $textTuner;
                        font-size: px2vw(28, $scaleFactor);
                        font-weight: bold;
                        text-align: right;
                    }

                    &:nth-child(2) {
                        display: block;
                        flex-basis: 50%;
                        color: $textTuner;
                        font-size: px2vw(28, $scaleFactor);
                        text-align: left;
                    }
                }
            }
        }

        .tunerContainer {
            margin: 0 auto;

            .btnTuner {
                width: px2vw(424, $scaleFactor);
                height: px2vw(80, $scaleFactor);
                margin-top: px2vw(18, $scaleFactor);
                margin-left: px2vw(4, $scaleFactor);
                font-size: px2vw(28, $scaleFactor);

                &::before {
                    margin-right: px2vw(42, $scaleFactor);
                }
            }
        }
    }

    .cable {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;

        &::after {
            display: none;
        }

        header {
            display: flex;
            flex-direction: column;
            align-items: center;

            i {
                width: px2vw(122, $scaleFactor);
                margin-left: px2vw(10, $scaleFactor);
            }

            h1 {
                width: max-content;
                margin-top: px2vw(40, $scaleFactor);
                margin-right: px2vw(20, $scaleFactor);
                color: $titleColor;
                font-size: px2vw(44, $scaleFactor);

                &::after {
                    display: block;
                    width: px2vw(50, $scaleFactor);
                    height: px2vw(6, $scaleFactor);
                    margin-top: px2vw(40, $scaleFactor);
                    margin-left: px2vw(148, $scaleFactor);
                    background-color: $titleAfterColor;
                    content: '';
                }
            }
        }

        p {
            width: px2vw(406, $scaleFactor);
            margin-top: px2vw(36, $scaleFactor);
            margin-left: px2vw(8, $scaleFactor);
            font-size: px2vw(28, $scaleFactor);
            line-height: px2vw(36, $scaleFactor);
            text-align: center;
        }

        .providerSearch {
            position: relative;
            width: px2vw(356, $scaleFactor);
            margin: px2vw(146, $scaleFactor) auto 0;
            padding-left: px2vw(16, $scaleFactor);
            color: $providerSearchColor;
            font-size: px2vw(28, $scaleFactor);
            font-style: italic;
            font-weight: bold;
            z-index: 1;

            &::before {
                display: block;
                position: absolute;
                top: px2vw(-40, $scaleFactor);
                left: 50%;
                width: px2vw(70, $scaleFactor);
                height: 1px;
                margin-left: px2vw(-26, $scaleFactor);
                background: $providerSearchBeforeColor;
                content: '';
            }

            &::after {
                display: block;
                position: absolute;
                top: px2vw(56, $scaleFactor);
                left: 50%;
                width: px2vw(230, $scaleFactor);
                height: px2vw(212, $scaleFactor);
                margin-left: px2vw(-100, $scaleFactor);
                background-color: $backgroundColor;
                background-image: url($componentRoot + 'Images/arrowMapDownIcon-bg.svg');
                background-repeat: no-repeat;
                content: '';
                background-position-x: px2vw(70, $scaleFactor);
            }
        }

        .btn.btnSearch {
            padding: 0 0 0 px2vw(26, $scaleFactor);

            &::before {
                width: px2vw(39, $scaleFactor);
                height: px2vw(39, $scaleFactor);
                margin-right: px2vw(30, $scaleFactor);
                background: url($componentRoot + 'Images/search-bg.svg') no-repeat;
                content: '';
            }

            &:hover {
                cursor: pointer;

                &::before {
                    background: url($componentRoot + 'Images/searchHover-bg.svg') no-repeat;
                }
            }
        }
    }

    .btn {
        display: flex;
        align-items: center;
        width: px2vw(380, $scaleFactor);
        height: px2vw(100, $scaleFactor);
        margin: px2vw(52, $scaleFactor) auto 0;
        padding: 0 px2vw(26, $scaleFactor);
        border: 1px solid $btnColor;
        border-radius: 6px;
        color: $btnColor;
        font-size: px2vw(30, $scaleFactor);
        text-decoration: none;

        &.btnTuner {
            &::before {
                margin-right: px2vw(16, $scaleFactor);
            }
        }

        &::before {
            width: px2vw(39, $scaleFactor);
            height: px2vw(39, $scaleFactor);
            margin-right: px2vw(26, $scaleFactor);
            background: url($componentRoot + 'Images/play-bg.svg') no-repeat;
            content: '';

            path {
                fill: $btnColor;
            }
        }

        &:hover {
            background: $btnColor;
            color: $btnHoverColor;
            cursor: pointer;

            &::before {
                background: url($componentRoot + 'Images/playHover-bg.svg') no-repeat;
            }
        }
    }

    .btnTuner {
        margin: px2vw(26, $scaleFactor) auto 0;
        padding: 0 0 0 px2vw(26, $scaleFactor);
    }
}
