& {
    display: flex;
    flex-wrap: wrap;

    > section {
        &::after {
            width: px2vw(560, $m);
            height: 3px;
            margin: px2vw(80, $m) auto;
            background-image: url($componentRoot + 'Images/divider-bg.svg');
            content: '';
        }
    }

    .internet {
        display: flex;
        flex-wrap: wrap;

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            i {
                width: px2vw(137, $m);
                margin: px2vw(60, $m) 0 0 px2vw(38, $m);
            }

            h1 {
                width: max-content;
                margin: px2vw(42, $m) auto 0;
                color: $titleColor;
                font-size: px2vw(44, $m);

                &::after {
                    display: block;
                    width: px2vw(60, $m);
                    height: px2vw(6, $m);
                    margin: px2vw(51, $m) auto 0;
                    background-color: $titleAfterColor;
                    content: '';
                }
            }
        }

        p {
            width: px2vw(335, $m);
            margin: px2vw(50, $m) auto 0;
            font-size: px2vw(30, $m);
            line-height: px2vw(36, $m);
            text-align: center;
        }

        .apps {
            display: flex;
            width: px2vw(518, $m);
            margin: px2vw(50, $m) auto;

            a {
                flex-shrink: 0;
                width: px2vw(120, $m);
                height: px2vw(120, $m);

            }

            .androidLink {
                border: 1px solid $androidColor;
                border-radius: 6px;

                &:active {
                    background: $androidColor;

                    i {
                        path {
                            fill: $btnHoverColor;
                        }
                    }
                }

                i {
                    width: px2vw(78, $m);
                    margin: px2vw(15, $m) auto 0;
                }
            }

            .appleLink {
                border: 1px solid $textTuner;
                border-radius: 6px;

                &:active {
                    background: $textTuner;

                    i {
                        path {
                            fill: $btnHoverColor;
                        }
                    }
                }

                i {
                    width: px2vw(67, $m);
                    margin: px2vw(17, $m) auto 0;
                }
            }


            div {
                display: flex;
                position: relative;
                align-items: center;
                text-align: center;

                span {
                    margin-bottom: px2vw(6, $m);
                    color: $textTuner;
                    font-size: px2vw(32, $m);
                    line-height: px2vw(26, $m);
                }

                i {
                    position: absolute;
                    width: px2vw(67, $m);
                }

                .appleArrow {
                    right: px2vw(22, $m);

                    path {
                        fill: $textTuner;
                    }
                }

                .androidArrow {
                    bottom: 0;
                    left: px2vw(26, $m);
                    transform: rotate(180deg);

                    path {
                        fill: $androidColor;
                    }
                }

            }
        }

        .watchOnline {
            margin-top: px2vw(4, $m);
        }
    }

    .satellite {
        display: flex;
        flex-wrap: wrap;

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            i {
                width: px2vw(116, $m);
                margin: 0 px2vw(36, $m) 0 0;
            }

            h1 {
                width: max-content;
                margin: px2vw(46, $m) auto 0;
                color: $titleColor;
                font-size: px2vw(44, $m);

                &::after {
                    display: block;
                    width: px2vw(60, $m);
                    height: px2vw(6, $m);
                    margin: px2vw(51, $m) auto 0;
                    background-color: $titleAfterColor;
                    content: '';
                }
            }
        }

        ul {
            width: 100%;
            margin: px2vw(54, $m) auto 0;

            li {
                display: flex;
                margin-bottom: px2vw(30, $m);

                span {
                    &:nth-child(1) {
                        display: block;
                        flex-basis: 50%;
                        margin-right: px2vw(8, $m);
                        color: $textTuner;
                        font-size: px2vw(30, $m);
                        font-weight: bold;
                        text-align: right;
                    }

                    &:nth-child(2) {
                        display: block;
                        flex-basis: 50%;
                        color: $textTuner;
                        font-size: px2vw(30, $m);
                        text-align: left;
                    }
                }
            }
        }

        .tunerContainer {
            margin: 0 auto;
            visibility: hidden;
        }
    }

    .cable {
        display: flex;
        flex-wrap: wrap;

        &::after {
            display: none;
        }

        header {
            width: 100%;

            i {
                width: px2vw(135, $m);
                margin: 0 auto;
            }

            h1 {
                width: max-content;
                margin: px2vw(40, $m) auto 0;
                color: $titleColor;
                font-size: px2vw(44, $m);

                &::after {
                    display: block;
                    width: px2vw(60, $m);
                    height: px2vw(6, $m);
                    margin: px2vw(51, $m) auto 0;
                    background-color: $titleAfterColor;
                    content: '';
                }
            }
        }

        p {
            width: px2vw(507, $m);
            margin: px2vw(48, $m) auto 0;
            font-size: px2vw(30, $m);
            line-height: px2vw(36, $m);
            text-align: center;
        }

        .btn.btnSearch {
            padding: 0 0 0 px2vw(26, $m);

            &::before {
                width: px2vw(39, $m);
                height: px2vw(39, $m);
                margin-right: px2vw(30, $m);
                background: url($componentRoot + 'Images/search-bg.svg') no-repeat;
                content: '';
            }

            &:active {
                &::before {
                    background: url($componentRoot + 'Images/searchHover-bg.svg') no-repeat;
                }
            }
        }
    }

    .btn {
        display: flex;
        align-items: center;
        width: px2vw(380, $m);
        height: px2vw(100, $m);
        margin: px2vw(52, $m) auto 0;
        padding: 0 px2vw(26, $m);
        border: 1px solid $btnColor;
        border-radius: 6px;
        color: $btnColor;
        font-size: px2vw(30, $m);
        text-decoration: none;

        &.btnTuner {
            &::before {
                margin-right: px2vw(16, $m);
            }
        }

        &::before {
            width: px2vw(39, $m);
            height: px2vw(39, $m);
            margin-right: px2vw(26, $m);
            background: url($componentRoot + 'Images/play-bg.svg') no-repeat;
            content: '';

            path {
                fill: $btnColor;
            }
        }

        &:active {
            background: $btnColor;
            color: $btnHoverColor;

            &::before {
                background: url($componentRoot + 'Images/playHover-bg.svg') no-repeat;
            }
        }
    }

    .btnTuner {
        margin: px2vw(26, $m) auto 0;
        padding: 0 0 0 px2vw(26, $m);
    }
}
