& {
    display: flex;
    flex-wrap: wrap;

    > section {
        &::after {
            width: px2vw(560, $scaleFactor);
            height: 3px;
            margin: px2vw(80, $scaleFactor) auto;
            background-image: url($componentRoot + 'Images/divider-bg.svg');
            content: '';
        }
    }

    .internet {
        display: flex;
        flex-wrap: wrap;

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            i {
                width: px2vw(137, $scaleFactor);
                margin: px2vw(60, $scaleFactor) 0 0 px2vw(38, $scaleFactor);
            }

            h1 {
                width: max-content;
                margin: px2vw(42, $scaleFactor) auto 0;
                color: $titleColor;
                font-size: px2vw(44, $scaleFactor);

                &::after {
                    display: block;
                    width: px2vw(60, $scaleFactor);
                    height: px2vw(6, $scaleFactor);
                    margin: px2vw(51, $scaleFactor) auto 0;
                    background-color: $titleAfterColor;
                    content: '';
                }
            }
        }

        p {
            width: px2vw(335, $scaleFactor);
            margin: px2vw(50, $scaleFactor) auto 0;
            font-size: px2vw(30, $scaleFactor);
            line-height: px2vw(36, $scaleFactor);
            text-align: center;
        }

        .apps {
            display: flex;
            width: px2vw(518, $scaleFactor);
            margin: px2vw(50, $scaleFactor) auto;

            a {
                flex-shrink: 0;
                width: px2vw(120, $scaleFactor);
                height: px2vw(120, $scaleFactor);

            }

            .androidLink {
                border: 1px solid $androidColor;
                border-radius: 6px;

                i {
                    width: px2vw(78, $scaleFactor);
                    margin: px2vw(15, $scaleFactor) auto 0;
                }
            }

            .appleLink {
                border: 1px solid $textTuner;
                border-radius: 6px;

                i {
                    width: px2vw(67, $scaleFactor);
                    margin: px2vw(17, $scaleFactor) auto 0;
                }
            }


            div {
                display: flex;
                position: relative;
                align-items: center;
                text-align: center;

                span {
                    margin-bottom: px2vw(6, $scaleFactor);
                    color: $textTuner;
                    font-size: px2vw(32, $scaleFactor);
                    line-height: px2vw(26, $scaleFactor);
                }

                i {
                    position: absolute;
                    width: px2vw(67, $scaleFactor);
                }

                .appleArrow {
                    right: px2vw(22, $scaleFactor);

                    path {
                        fill: $textTuner;
                    }
                }

                .androidArrow {
                    bottom: 0;
                    left: px2vw(26, $scaleFactor);
                    transform: rotate(180deg);

                    path {
                        fill: $androidColor;
                    }
                }

            }
        }

        .watchOnline {
            margin-top: px2vw(4, $scaleFactor);
        }
    }

    .satellite {
        display: flex;
        flex-wrap: wrap;

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            i {
                width: px2vw(116, $scaleFactor);
                margin: 0 px2vw(36, $scaleFactor) 0 0;
            }

            h1 {
                width: max-content;
                margin: px2vw(46, $scaleFactor) auto 0;
                color: $titleColor;
                font-size: px2vw(44, $scaleFactor);

                &::after {
                    display: block;
                    width: px2vw(60, $scaleFactor);
                    height: px2vw(6, $scaleFactor);
                    margin: px2vw(51, $scaleFactor) auto 0;
                    background-color: $titleAfterColor;
                    content: '';
                }
            }
        }

        ul {
            width: 100%;
            margin: px2vw(54, $scaleFactor) auto 0;

            li {
                display: flex;
                margin-bottom: px2vw(30, $scaleFactor);

                span {
                    &:nth-child(1) {
                        display: block;
                        flex-basis: 50%;
                        margin-right: px2vw(8, $scaleFactor);
                        color: $textTuner;
                        font-size: px2vw(30, $scaleFactor);
                        font-weight: bold;
                        text-align: right;
                    }

                    &:nth-child(2) {
                        display: block;
                        flex-basis: 50%;
                        color: $textTuner;
                        font-size: px2vw(30, $scaleFactor);
                        text-align: left;
                    }
                }
            }
        }

        .tunerContainer {
            margin: 0 auto;
        }
    }

    .television {
        display: flex;
        flex-wrap: wrap;

        header {
            width: 100%;

            i {
                width: px2vw(135, $scaleFactor);
                margin: 0 auto;
            }

            h1 {
                width: max-content;
                margin: px2vw(40, $scaleFactor) auto 0;
                color: $titleColor;
                font-size: px2vw(44, $scaleFactor);

                &::after {
                    display: block;
                    width: px2vw(60, $scaleFactor);
                    height: px2vw(6, $scaleFactor);
                    margin: px2vw(51, $scaleFactor) auto 0;
                    background-color: $titleAfterColor;
                    content: '';
                }
            }
        }

        p {
            width: px2vw(507, $scaleFactor);
            margin: px2vw(48, $scaleFactor) auto 0;
            font-size: px2vw(30, $scaleFactor);
            line-height: px2vw(36, $scaleFactor);
            text-align: center;
        }

        .btn.btnSearch {
            padding: 0 0 0 px2vw(26, $scaleFactor);

            &::before {
                width: px2vw(39, $scaleFactor);
                height: px2vw(39, $scaleFactor);
                margin-right: px2vw(30, $scaleFactor);
                background-image: url($componentRoot + 'Images/search-bg.svg');
                content: '';
            }

            &:active {
                &::before {
                    background-image: url($componentRoot + 'Images/searchHover-bg.svg');
                }
            }
        }
    }

    .btn {
        display: flex;
        align-items: center;
        width: px2vw(380, $scaleFactor);
        height: px2vw(100, $scaleFactor);
        margin: px2vw(52, $scaleFactor) auto 0;
        padding: 0 px2vw(26, $scaleFactor);
        border: 1px solid $btnColor;
        border-radius: 6px;
        color: $btnColor;
        font-size: px2vw(30, $scaleFactor);
        text-decoration: none;

        &::before {
            width: px2vw(39, $scaleFactor);
            height: px2vw(39, $scaleFactor);
            margin-right: px2vw(26, $scaleFactor);
            content: '';
            background-image: url($componentRoot + 'Images/play-bg.svg');

            path {
                fill: $btnColor;
            }
        }

        &:active {
            background: $btnColor;
            color: $btnHoverColor;

            &::before {
                background-image: url($componentRoot + 'Images/playHover-bg.svg');
            }
        }
    }

    .btnTuner {
        margin: px2vw(26, $scaleFactor) auto 0;
        padding: 0 0 0 px2vw(26, $scaleFactor);
    }
}
