$componentRoot: 'components/WatchUs/Info/Assets/';

$arrowTuner: $paletteColor12;
$textTuner: $paletteColor9;
$titleAfterColor: $paletteColor1;
$androidColor: #7fbf10;
$titleColor: $paletteColor3;
$btnColor: $paletteColor2;
$btnHoverColor: $paletteColor6;
$providerSearchColor: $paletteColor9;
$providerSearchBeforeColor: $paletteColor13;
$backgroundColor: $paletteColor4;
