$componentRoot: 'theme/components/Info/';

$arrowTuner: #b7c3c5;
$textTuner: #6e7b7d;
$titleAfterColor: #facb0e;
$androidColor: #7fbf10;
$titleColor: #516569;
$btnColor: #2793b2;
$btnHoverColor: #fff;
$providerSearchColor: #6d7a7c;
$providerSearchBeforeColor: #dfe0e1;
$backgroundColor: #f3f3f3;
