& {
    height: px(752);
    margin-bottom: px(-80);
    overflow: hidden;

    .banner {
        position: relative;
        padding-top: px(128);

        &::after {
            position: absolute;
            bottom: px(-18);
            width: 100%;
            height: px(30);
            transform: rotate(-2.2deg);
            background-color: $color3;
            content: '';
            z-index: 2;
        }
    }

    .container {
        position: relative;
        width: 102vw;
        height: px(564);
        margin-left: -1vw;
        transform: rotate(-2.9deg);
        overflow: hidden;
        z-index: 3;

        &::before {
            position: absolute;
            width: 100%;
            height: px(564);
            background-color: $color1;
            content: '';
            z-index: 1;
        }

        h1 {
            position: absolute;
            top: px(242);
            left: 50%;
            width: px(1374);
            margin-left: px(-687);
            transform: rotate(2.9deg);
            color: $color2;
            font-size: px(48);
            line-height: px(54);
            text-align: center;
            z-index: 1;

            span {
                color: $color3;
                font-weight: bold;
            }
        }

        .poster {
            position: relative;
            width: 100%;
            height: px(680);
            margin-top: -3vw;
            transform: rotate(2.9deg);
            background: url($componentRoot + 'banner.jpg') no-repeat;
            background-size: cover;
        }
    }
}
