& {
    position: relative;
    padding-top: px2vw(76, $m);

    .container {
        position: relative;
        width: 100vw;
        height: px2vw(396, $m);
        overflow: hidden;
        z-index: 3;

        &::before {
            position: absolute;
            width: 100%;
            height: px2vw(396, $m);
            background-color: $color1;
            content: '';
            opacity: .8;
            z-index: 1;
        }

        h1 {
            position: absolute;
            top: px2vw(130, $m);
            left: 50%;
            width: px2vw(518, $m);
            margin-left: px2vw(-259, $m);
            color: $color2;
            font-size: px2vw(38, $m);
            line-height: px2vw(44, $m);
            text-align: center;
            z-index: 1;

            span {
                color: $color3;
                font-weight: bold;
            }
        }

        .poster {
            position: relative;
            width: 100%;
            height: px2vw(396, $m);
            background: url($componentRoot + 'banner.jpg') no-repeat;
            background-size: cover;
        }
    }

    &::after {
        position: absolute;
        bottom: px2vw(-10, $m);
        width: 100%;
        height: px2vw(10, $m);
        background-color: $color4;
        content: '';
        z-index: 2;
    }
}
