& {
    position: relative;
    padding-top: px(76);

    .container {
        position: relative;
        width: 100vw;
        height: px(396);
        overflow: hidden;
        z-index: 3;

        &::before {
            position: absolute;
            width: 100%;
            height: px(396);
            background-color: $color1;
            content: '';
            z-index: 1;
        }

        h1 {
            position: absolute;
            top: px(130);
            left: 50%;
            width: px(518);
            margin-left: px(-259);
            color: $color2;
            font-size: px(38);
            line-height: px(44);
            text-align: center;
            z-index: 1;

            span {
                color: $color3;
                font-weight: bold;
            }
        }

        .poster {
            position: relative;
            width: 100%;
            height: px(396);
            background: url($componentRoot + 'banner.jpg') no-repeat;
            background-size: cover;
        }
    }

    &::after {
        position: absolute;
        bottom: px(-10);
        width: 100%;
        height: px(10);
        background-color: $color3;
        content: '';
        z-index: 2;
    }
}
