.pixelPerfect {
    $navBgColor: #2d2f2e;
    $valueColor: #ccc;
    $btnBgColor: #3f4140;
    $stateBorderColor: #494b4a;

    position: relative;

    .menu {
        position: fixed;
        top: 0;
        width: 100%;
        height: 40px;
        background-color: $navBgColor;
        z-index: 9999;

        .items {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 40px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .item {
            display: flex;
            position: relative;
            align-items: center;

            .title {
                margin-right: 10px;
                user-select: none;
            }

            .value {
                display: block;
                color: $valueColor;
                font-style: italic;
                user-select: none;

                &:nth-child(2) {
                    width: 120px;
                    overflow: hidden;
                }
            }

            .states {
                position: absolute;
                top: 28px;
                left: 48px;

                li {
                    max-width: 180px;
                    padding: 10px;
                    border-top: 1px solid $stateBorderColor;
                    background-color: $navBgColor;

                    &:hover {
                        color: $valueColor;
                        cursor: pointer;
                    }
                }
            }

            .opacity {
                width: 30px;
                color: $valueColor;
                font-style: italic;
                text-align: center;
                user-select: none;
            }

            .down {
                width: 10px;
                margin-right: 5px;
                background-color: $btnBgColor;
                color: $valueColor;
                text-align: center;
                opacity: .7;
                user-select: none;

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }

            .up {
                width: 10px;
                margin-left: 5px;
                background-color: $btnBgColor;
                color: $valueColor;
                text-align: center;
                opacity: .7;
                user-select: none;

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }

            .hide {
                width: 40px;
                user-select: none;

                &:hover {
                    color: $valueColor;
                    cursor: pointer;
                }
            }

            .disabled {
                visibility: hidden;
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                &:first-child {
                    display: none;
                }
            }

            @media (max-width: 767px) {
                &:first-child {
                    display: none;
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    display: none;
                }

                &:nth-child(4) {
                    display: none;
                }
            }
        }
    }
}

.component {
    margin-bottom: 40px;
    transform: translateY(40px);

    .wrap {
        position: absolute;
        width: 100%;
        z-index: 99999;

        img {
            width: 100%;
        }
    }
}
