@import '../mobile';

h1 {
    margin-top: px(-4);
    font-size: px(52);

    &::after {
        width: px(66);
        margin-top: px(68);
    }
}

p {
    width: px(744);
    margin-top: px(72);
    color: $color1;
    font-size: px(34);
    font-style: italic;
    line-height: px(42);
    text-align: center;

    b {
        display: block;
    }
}
