@import 'theme/MediaQueries';

@media #{$tabletPortrait} {
    $m: tabletPortrait;

    @import '../mobile';

    h1 {
        margin-top: px2vw(-4, $m);
        font-size: px2vw(52, $m);

        &::after {
            width: px2vw(66, $m);
            margin-top: px2vw(68, $m);
        }
    }

    p {
        width: px2vw(744, $m);
        margin-top: px2vw(72, $m);
        color: $color1;
        font-size: px2vw(34, $m);
        font-style: italic;
        line-height: px2vw(42, $m);
        text-align: center;

        b {
            display: block;
        }
    }
}
