@import 'theme/Palette';
$componentRoot: 'theme/components/Contacts/Special/';
$color1: #d0d3d4;
$color2: #fff;
$color3: #636466;
$color4: #facb0e;
$color5: #707c7e;
$color6: #7d7d7d;
$color7: #2793b2;
$color8: #d6d7d8;
