$componentRoot: 'components/Contacts/Info/Assets/';

$color1: $paletteColor3;
$color2: $paletteColor1;
$color3: $paletteColor2;
$color4: $paletteColor10;
$color5: $paletteColor9;
$color6: $paletteColor4;
