& {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: px2vw(60, $m);
    border-bottom: px2vw(4, $m) solid $color3;
    background-image: url($componentRoot + 'worldNetwork_background.jpg');

    header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            margin-top: px2vw(68, $m);
            color: $color1;
            font-size: px2vw(52, $m);
        }

        h2 {
            margin-top: px2vw(6, $m);
            color: $color1;
            font-size: px2vw(44, $m);
            font-weight: 100;

            &::after {
                display: block;
                width: px2vw(80, $m);
                height: px2vw(6, $m);
                margin: px2vw(54, $m) auto 0;
                background-color: $color2;
                content: '';
            }
        }
    }

    p {
        width: px2vw(1270, $m);
        margin-top: px2vw(54, $m);
        color: $color1;
        font-size: px2vw(36, $m);
        line-height: px2vw(46, $m);
        text-align: center;
    }

    div {
        width: px2vw(1768, $m);
        height: px2vw(894, $m);
        margin-top: px2vw(76, $m);
        background-image: url($componentRoot + 'worldMap.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
}
