& {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: px(60);
    border-bottom: px(4) solid $color3;
    background-image: url($componentRoot + 'worldNetwork_background.jpg');

    header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            margin-top: px(76);
            color: $color1;
            font-size: px(44);
        }

        h2 {
            margin-top: px(6);
            color: $color1;
            font-size: px(34);
            font-weight: 100;

            &::after {
                display: block;
                width: px(60);
                height: px(6);
                margin: px(48) auto 0;
                background-color: $color2;
                content: '';
            }
        }
    }

    p {
        width: px(530);
        margin-top: px(50);
        color: $color1;
        font-size: px(30);
        line-height: px(36);
        text-align: center;
    }

    div {
        width: 100%;
        height: px(396);
        margin-top: px(48);
        background-image: url($componentRoot + 'worldMap.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 122%;
    }
}
