& {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: px2vw(288, $m);

        &:nth-child(2n+1){
            background-color: #fff;
        }

        i {
            flex-shrink: 0;
            width: px2vw(168, $m);
            margin-right: px2vw(92, $m);
        }

        p {
            position: relative;
            width: px2vw(200, $m);
            margin-right: px2vw(8, $m);
            color: #516569;
            font-size: px2vw(30, $m);
            line-height: px2vw(28, $m);

            b {
                display: block;
                margin-top: px2vw(12, $m);
                font-size: px2vw(38, $m);
                line-height: px2vw(36, $m);
            }

            &::before {
                display: block;
                position: absolute;
                top: 50%;
                left: px2vw(-48, $m);
                margin-top: px2vw(-30, $m);
                width: px2vw(6, $m);
                height: px2vw(60, $m);
                background-color: #facb0e;
                border-radius: 2px;
                content: '';
            }
        }
    }
}
