& {
    .background {
        fill: $color1;
    }

    .shadow {
        fill: $color2;
    }

    .arrow {
        fill: $color1;
    }

    text {
        font-family: PTSans-bold;
        font-size: 28px;
        fill: $color3;
        text-anchor: middle;

        &:hover {
            fill: $color3;
        }
    }
}
