@import '../mobile';

& {
    padding-top: px(66);

    .container {
        height: px(404);

        &::before {
            height: px(404);
        }

        h1 {
            top: px(138);
            font-size: px(36);
        }
    }

    .poster {
        height: px(404);
    }
}
