@import '../mobile';

.container {
    flex-direction: row;
    height: px(490);
    background-color: $color2;

    div {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: px(490);
        margin-top: px(80);

        &:nth-child(2n+1) {
            background: none;
        }

        i {
            margin-right: 0;
        }

        p {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
            margin-right: 0;

            &::before {
                position: static;
                width: px(60);
                height: px(6);
                margin-top: px(50);
                margin-bottom: px(44);
                margin-left: 0;
            }

            b {
                margin-top: px(8);
                font-size: px(36);
            }
        }
    }

    .signLanguage {
        order: 1;
        margin-right: px(74);
        margin-left: px(88);
    }

    .live {
        order: 2;
        margin-right: px(54);
    }

    .uk {
        order: 3;
    }
}

