@import 'theme/MediaQueries';

@media #{$desktopMega} {
    $scaleFactor: .03;

    @import '../desktop';

    .internet {
        .watchOnline {
            margin-right: px2vw(70, $scaleFactor);
            margin-left: 0;
        }

        .btn {
            margin-right: px2vw(66, $scaleFactor);
            margin-left: 0;
        }
    }
}
