@import 'theme/MediaQueries';

@media #{$desktopMega} {
    $m: desktopMega;

    @import '../desktop';

    .internet {
        .watchOnline {
            margin-right: px2vw(70, $m);
            margin-left: 0;
        }

        .btn {
            margin-right: px2vw(66, $m);
            margin-left: 0;
        }
    }
}
