@import '../mobile';

> section {
    &::after {
        order: 10;
        width: px(1126);
        margin: px(45) auto;
    }
}

.internet {
    order: 2;

    header {
        flex-direction: inherit;
        padding-left: px(162);

        h1 {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            width: px(550);
            margin-top: px(28);
            margin-left: px(80);

            &::after {
                width: px(6);
                height: px(60);
                margin-top: 0;
                margin-left: 0;
            }
        }

        i {
            margin-top: px(34);
        }
    }

    .searchUs {
        margin-right: px(38);
        margin-left: px(86);
    }

    .apps {
        margin: px(48) px(42);

        a {
            margin-top: 0;
        }
    }

    p {
        margin-top: px(76);
        margin-right: px(28);
        text-align: right;
    }

    .watchOnline {
        margin-top: px(46);
        margin-right: px(86);
        margin-left: px(82);
    }

    a {
        margin: px(16) 0 0;
    }

    .btn {
        margin-top: px(36);
        margin-bottom: px(52);
    }
}

.satellite {
    order: 1;

    header {
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding-left: px(64);

        h1 {
            display: flex;
            align-items: center;
            margin: px(50) px(190) 0 0;

            &::after {
                width: px(6);
                height: px(60);
                margin-top: 0;
                margin-left: px(70);
            }
        }

        i {
            margin-top: px(58);
        }
    }

    ul {
        display: flex;
        flex-basis: 50%;
        flex-wrap: wrap;
        order: 3;

        li {
            flex-basis: 50%;
            flex-direction: column;
            align-items: flex-start;
            height: px(62);
            margin-bottom: px(48);

            span {
                &:nth-child(2) {
                    margin-bottom: 1px;
                }
            }
        }

        .itemChannel {
            order: 1;
        }

        .itemSatellite {
            order: 4;
        }

        .itemReceivingFrequency {
            order: 5;
        }

        .itemPolarization {
            order: 2;
        }

        .itemFlowRate {
            order: 3;
        }
    }

    a {
        margin: px(56) 0 0 px(90);
    }

    .tunerContainer {
        flex-basis: 50%;

        .tunerInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: px(40);
            padding-right: px(8);

            i {
                width: px(60);
                transform: rotate(-90deg);

                path {
                    fill: $arrowTuner;
                }
            }

            p {
                width: px(370);
                margin-top: px(36);
                color: $textTuner;
                font-size: px(24);
                font-style: italic;
                line-height: px(28);
                text-align: center;
            }
        }
    }
}

.cable {
    order: 3;

    &::after {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding-left: px(64);

        h1 {
            display: flex;
            align-items: center;
            margin: px(12) 0 0 px(62);

            &::after {
                width: px(6);
                height: px(60);
                margin-top: 0;
                margin-left: px(128);
            }
        }

        i {
            width: px(132);
            margin-top: px(10);
            margin-left: px(198);
        }
    }

    p {
        order: 4;
        margin-top: px(50);
        margin-right: px(60);
        text-align: left;
    }

    .btnSearch {
        order: 3;
        margin-top: px(110);
        margin-left: px(92);
    }
}
