@import 'theme/MediaQueries';

@media #{$tabletPortrait} {
    $m: tabletPortrait;

    @import '../mobile';

    > section {
        &::after {
            display: none;
        }
    }

    .satellite {
        flex-basis: 50%;
        order: 1;

        header {
            i {
                width: px2vw(136, $m);
                margin: px2vw(104, $m) px2vw(20, $m) 0 0;
            }

            h1 {
                margin: px2vw(74, $m) 0 0  px2vw(28, $m);
                font-size: px2vw(50, $m);

                &::after {
                    width: px2vw(66, $m);
                    margin-top: px2vw(60, $m);
                }
            }
        }

        ul {
            margin-top: px2vw(74, $m);

            li {
                margin-bottom: px2vw(57, $m);

                span {
                    &:nth-child(1) {
                        margin: 0 px2vw(32, $m) 0 px2vw(24, $m);
                        font-size: px2vw(34, $m);
                    }

                    &:nth-child(2) {
                        font-size: px2vw(34, $m);
                    }
                }
            }
        }

    }

    .internet {
        flex-basis: 50%;
        flex-direction: column;
        order: 2;

        header {
            i {
                width: px2vw(163, $m);
                margin: px2vw(104, $m) 0 0;
            }

            h1 {
                margin: px2vw(74, $m) px2vw(50, $m) 0 0;
                font-size: px2vw(50, $m);

                &::after {
                    width: px2vw(66, $m);
                    margin-top: px2vw(60, $m);
                }
            }
        }

        .searchUs {
            width: px2vw(570, $m);
            height: px2vw(70, $m);
            margin-top: px2vw(70, $m);
            margin-left: px2vw(62, $m);
            font-size: px2vw(34, $m);
        }

        .apps {
            width: px2vw(570, $m);
            height: px2vw(146, $m);
            margin-top: px2vw(84, $m);
            margin-right: px2vw(130, $m);

            a {
                flex-shrink: 0;
                width: px2vw(146, $m);
                height: px2vw(146, $m);

            }

            div {
                span {
                    margin-bottom: px2vw(12, $m);
                    padding-right: px2vw(8, $m);
                    font-size: px2vw(35, $m);
                    font-weight: bold;
                    line-height: px2vw(36, $m);
                }

                i {
                    width: px2vw(78, $m);
                }
            }

            .androidLink {
                i {
                    width: px2vw(87, $m);
                }
            }

            .appleLink {
                i {
                    width: px2vw(78, $m);
                }
            }
        }

        .watchOnline {
            width: px2vw(600, $m);
            margin-top: px2vw(16, $m);
            margin-left: px2vw(56, $m);
            font-size: px2vw(34, $m);
        }
    }

    .cable {
        flex-basis: 100%;
        order: 3;

        header {
            margin-top: px2vw(96, $m);

            i {
                position: relative;
                width: px2vw(159, $m);

                &::after {
                    display: block;
                    position: absolute;
                    top: 63%;
                    right: px2vw(-590, $m);
                    width: px2vw(540, $m);
                    height: 3px;
                    background-image: url($componentRoot + 'Images/divider-bg.svg');
                    content: '';

                }

                &::before {
                    display: block;
                    position: absolute;
                    top: 63%;
                    left: px2vw(-580, $m);
                    width: px2vw(540, $m);
                    height: 3px;
                    background-image: url($componentRoot + 'Images/divider-bg.svg');
                    content: '';
                }
            }

            h1 {
                margin-top: px2vw(76, $m);
                font-size: px2vw(52, $m);

                &::after {
                    margin-top: px2vw(71, $m);
                }
            }
        }

        p {
            width: px2vw(1075, $m);
            margin-top: px2vw(75, $m);
            margin-left: px2vw(228, $m);
            font-size: px2vw(34, $m);
            line-height: px2vw(43, $m);
        }
    }

    .btn {
        width: px2vw(460, $m);
        height: px2vw(112, $m);
        margin: px2vw(92, $m) 0 0 px2vw(128, $m);
        padding: 0 px2vw(26, $m) 0 px2vw(44, $m);
        font-size: px2vw(34, $m);

        &::before {
            margin-right: px2vw(32, $m);
        }
    }

    .btn.btnTuner {
        margin-top: px2vw(34, $m);
        margin-left: px2vw(36, $m);
        padding-left: px2vw(34, $m);
        font-size: px2vw(34, $m);

        &::before {
            margin-right: px2vw(24, $m);
        }
    }
}
