@import '../mobile';

> section {
    &::after {
        display: none;
    }
}

.satellite {
    flex-basis: 50%;
    order: 1;

    header {
        i {
            width: px(136);
            margin: px(104) px(20) 0 0;
        }

        h1 {
            margin: px(74) 0 0  px(28);
            font-size: px(50);

            &::after {
                width: px(66);
                margin-top: px(60);
            }
        }
    }

    ul {
        margin-top: px(74);

        li {
            margin-bottom: px(57);

            span {
                &:nth-child(1) {
                    margin: 0 px(32) 0 px(24);
                    font-size: px(34);
                }

                &:nth-child(2) {
                    font-size: px(34);
                }
            }
        }
    }

}

.internet {
    flex-basis: 50%;
    flex-direction: column;
    order: 2;

    header {
        i {
            width: px(163);
            margin: px(104) 0 0;
        }

        h1 {
            margin: px(74) px(50) 0 0;
            font-size: px(50);

            &::after {
                width: px(66);
                margin-top: px(60);
            }
        }
    }

    .searchUs {
        width: px(570);
        height: px(70);
        margin-top: px(70);
        margin-left: px(62);
        font-size: px(34);
    }

    .apps {
        width: px(570);
        height: px(146);
        margin-top: px(84);
        margin-right: px(130);

        a {
            flex-shrink: 0;
            width: px(146);
            height: px(146);

        }

        div {
            span {
                margin-bottom: px(12);
                padding-right: px(8);
                font-size: px(35);
                font-weight: bold;
                line-height: px(36);
            }

            i {
                width: px(78);
            }
        }

        .androidLink {
            i {
                width: px(87);
            }
        }

        .appleLink {
            i {
                width: px(78);
            }
        }
    }

    .watchOnline {
        width: px(600);
        margin-top: px(16);
        margin-left: px(56);
        font-size: px(34);
    }
}

.cable {
    flex-basis: 100%;
    order: 3;

    header {
        margin-top: px(96);

        i {
            position: relative;
            width: px(159);

            &::after {
                display: block;
                position: absolute;
                top: 63%;
                right: px(-590);
                width: px(540);
                height: 3px;
                background-image: url($componentRoot + 'divider-bg.svg');
                content: '';

            }

            &::before {
                display: block;
                position: absolute;
                top: 63%;
                left: px(-580);
                width: px(540);
                height: 3px;
                background-image: url($componentRoot + 'divider-bg.svg');
                content: '';
            }
        }

        h1 {
            margin-top: px(76);
            font-size: px(52);

            &::after {
                margin-top: px(71);
            }
        }
    }

    p {
        width: px(1075);
        margin-top: px(75);
        margin-left: px(228);
        font-size: px(34);
        line-height: px(43);
    }
}

.btn {
    width: px(460);
    height: px(112);
    margin: px(92) 0 0 px(128);
    padding: 0 px(26) 0 px(44);
    font-size: px(34);

    &::before {
        margin-right: px(32);
    }

    &.btnTuner {
        margin-top: px(34);
        margin-left: px(36);
        padding-left: px(34);
        font-size: px(34);

        &::before {
            margin-right: px(24);
        }
    }
}
