@import 'theme/MediaQueries';

@media #{$phoneLandscape} {
    $m: phoneLandscape;

    @import '../mobile';

    & {
        padding-bottom: px2vw(60, $m);

        header {
            h2 {
                margin-top: px2vw(8, $m);
            }
        }

        p {
            width: px2vw(700, $m);
        }

        div {
            height: px2vw(576, $m);
            background-size: 100%;
            background-position-y: 0;
        }
    }
}
