@import '../desktop';

& {
    padding-top: px(84);
    padding-left: px(98);

    .shows {

        header {
            padding-right: px(50);

            a {
                height: px(30);
                margin-top: px(10);
                font-size: px(28);

                &::after {
                    font-size: px(40);
                }

            }
        }

        .col1 {
            width: px(528);
            margin-top: px(84);

            div {

                h2 {
                    font-size: px(34);
                }

                ul {
                    padding-left: px(28);

                    li {
                        margin-bottom: px(24);

                        a {
                            font-size: px(28);

                        }

                        &:nth-last-child(-n+9) {
                            margin-bottom: px(24);
                        }

                        &:nth-last-child(-n+6) {
                            margin-bottom: px(22);
                        }

                        &:nth-last-child(-n+3) {
                            margin-bottom: px(24);
                        }
                    }
                }
            }
        }

        .col2 {
            width: px(362);
            margin-top: px(84);

            div {
                margin-bottom: px(110);

                h2 {
                    margin-bottom: px(36);
                    font-size: px(34);
                }

                ul {
                    padding-left: px(28);

                    li {
                        margin-bottom: px(24);

                        a {
                            font-size: px(28);

                        }
                    }
                }

                &:nth-last-child(2) {
                    margin-bottom: px(126);
                }

                &:last-child {
                    ul {
                        padding-left: px(30);
                    }
                }
            }
        }

        .col3 {
            width: px(210);
            margin-top: px(84);

            div {
                margin-bottom: px(112);

                h2 {
                    font-size: px(34);
                }

                ul {
                    padding-left: px(32);

                    li {
                        margin-bottom: px(24);

                        a {
                            font-size: px(28);
                        }

                        .label {
                            bottom: px(10);
                            left: px(108);
                        }
                    }
                }

                &:nth-last-child(2) {
                    margin-bottom: px(126);

                    h2 {
                        margin-bottom: px(34);
                    }

                    ul {
                        padding-left: px(30);
                    }
                }

                &:last-child {
                    ul {
                        padding-left: px(36);
                    }
                }
            }
        }
    }
}
