& {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: px(62) px(118) px(62) px(120);
    background-color: $color2;
    color: $color4;

    header {
        flex: 1 100%;
        margin-bottom: px(100);

        h1 {
            position: relative;
            color: $color6;
            font-size: px(44);
            text-align: center;

            &::after {
                display: block;
                position: absolute;
                top: px(84);
                left: 50%;
                width: px(50);
                height: px(6);
                margin-left: px(-25);
                background-color: $color1;
                content: '';
            }
        }

    }

    .name {
        flex: 1 auto;
        margin-right: px(54);
        padding: px(14) px(20) px(20) px(24);
        border: 1px solid $color3;
        border-radius: 4px;
        outline: none;
        color: $color6;
        font-size: px(32);

        &:focus {
            box-shadow: 0 0 0 1px $color3;
        }
    }

    .email {
        flex: 1 auto;
        padding: px(14) px(20) px(20) px(24);
        border: 1px solid $color3;
        border-radius: 4px;
        outline: none;
        color: $color6;
        font-size: px(32);

        &:focus {
            box-shadow: 0 0 0 1px $color3;
        }
    }

    textarea {
        flex: 1 100%;
        height: px(320);
        margin-top: px(52);
        padding: px(18) px(18) px(20) px(22);
        border: 1px solid $color3;
        border-radius: 4px;
        outline: none;
        color: $color6;
        font-size: px(32);

        &:focus {
            box-shadow: 0 0 0 1px $color3;
        }
    }

    a {
        position: relative;
        width: px(400);
        height: px(80);
        margin-top: px(52);
        padding: px(24) 0 0 px(60);
        transition: background-color $transitionDuration, color $transitionDuration;
        border: 1px solid $color5;
        border-radius: 4px;
        color: $color5;
        font-size: px(32);
        text-align: center;
        text-decoration: none;

        i {
            position: absolute;
            top: px(20);
            left: px(24);

            svg {
                width: px(46);

                path {
                    transition: fill $transitionDuration;
                    fill: $color5;
                    }
            }
        }

        &:hover {
            background-color: $color5;
            color: $color2;

            i {
                svg {
                    path {
                        fill: $color2;
                    }
                }
            }

        }
    }
}
