$componentRoot: 'components/Footer/Form/Assets/';

$transitionDuration: .2s;

$color1: $paletteColor1; // divider
$color2: $paletteColor6; // bg
$color3: $paletteColor13; // border
$color4: $paletteColor12; // text
$color5: $paletteColor2; // blue button
$color6: $paletteColor3; // h1
