& {
    .why {
        display: flex;
        flex-direction: column;

        header {
            display: flex;
            flex-direction: column;
            align-items: center;

            i {
                width: px(180);
                margin-top: px(80);
                margin-left: px(22);
            }

            h1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: px(44);
                color: $color1;
                font-size: px(56);

                &::after {
                    display: block;
                    width: px(80);
                    height: px(6);
                    margin-top: px(46);
                    border-radius: 2px;
                    background-color: $color2;
                    content: '';
                }
            }
        }

        .arguments {
            display: flex;
            justify-content: space-between;
            width: px(1382);
            margin: px(82) auto 0;

            div {
                display: flex;
                flex-direction: row;
                align-items: center;

                i {
                    width: px(132);
                    margin-left: 0;
                    color: $color3;
                    font-size: 34px;
                }

                .label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: px(74);
                    height: px(40);
                    margin-top: px(-86);
                    margin-right: 0;
                    margin-left: px(-44);
                    transform: rotate(-30deg);
                    border: px(4) solid $color4;
                    border-radius: px(4);
                    background: $color4;
                    color: $color5;
                    font-size: px(26);
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .text {
                    margin-top: px(-22);
                    margin-left: px(-22);
                    font-size: px(44);
                    font-weight: bold;
                }
            }

            .policy {
                margin-left: px(48);
            }

            .violence {
                margin-left: px(24);

                i {
                    margin-left: 0;
                }

                .label {
                    margin-right: px(10);
                }
            }

            .advert {
                margin-left: 0;

                i {
                    margin-right: px(10);
                    margin-left: px(2);
                }
            }
        }
    }

    .aroundTheClock {
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: px(74);

            span {
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                width: px(200);
                height: px(200);
                background-image: url($componentRoot + '24hBackground-bg.svg');
                color: $color1;
                font-size: px(48);

                &::before {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: px(-760);
                    width: px(680);
                    height: px(8);
                    margin-top: px(-4);
                    background-image: url($componentRoot + 'divider-bg.svg');
                    content: '';
                }

                &::after {
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: px(-760);
                    width: px(680);
                    height: px(8);
                    margin-top: px(-4);
                    background-image: url($componentRoot + 'divider-bg.svg');
                    content: '';
                }
            }

            h1 {
                margin-top: px(76);
                color: $color1;
                font-size: px(52);
                font-weight: bold;
            }

            h2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: px(8);
                color: $color1;
                font-size: px(44);
                font-weight: 100;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            width: 100%;
            height: px(360);
            margin-top: px(80);
            padding-right: px(18);

            &::before {
                display: block;
                order: 3;
                width: px(262);
                height: px(282);
                background-image: url($componentRoot + 'why_family-bg.svg');
                content: '';
            }

            li {
                display: flex;
                align-items: center;
                margin-top: px(42);
                margin-left: px(60);

                div {
                    display: flex;
                    flex-direction: column;
                    font-size: px(36);
                    line-height: px(40);

                    b {
                        color: $color1;
                    }
                }

                i {
                    width: px(58);
                    margin-top: px(-2);
                    margin-right: px(50);
                }
            }

            .everydaySpeech {
                flex-direction: row-reverse;
                order: 1;
                margin-top: px(34);
                margin-right: px(98);
                margin-bottom: px(68);
                margin-left: 0;
                text-align: right;

                i {
                    margin-right: 0;
                    margin-left: px(46);
                }
            }

            .varietyPrograms {
                flex-direction: row-reverse;
                order: 2;
                margin-top: 0;
                margin-right: px(98);
                margin-left: 0;
                text-align: right;

                i {
                    margin-right: 0;
                    margin-left: px(46);
                }
            }

            .interactiveCommunication {
                order: 4;
                margin-top: px(34);
                margin-bottom: px(68);
                margin-left: px(90);

                i {
                    margin-right: px(48);
                }
            }

            .holisticChristianity {
                order: 5;
                margin-top: 0;
                margin-left: px(90);

                i {
                    margin-right: px(48);
                }
            }
        }
    }
}
