@import 'theme/MediaQueries';

@media #{$phoneLandscape} {
    $m: phoneLandscape;

    @import '../mobile';

    section::after {
        width: 100%;
        margin-top: px2vw(100, $m);
    }

    .live {
        align-items: center;

        header {
            flex-direction: row-reverse;
            justify-content: center;

            i {
                margin-right: px2vw(114, $m);
            }

            h1 {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: px2vw(472, $m);
                margin-top: px2vw(48, $m);
                margin-right: px2vw(178, $m);
                margin-left: 0;

                &::after {
                    width: px2vw(6, $m);
                    height: px2vw(60, $m);
                    margin-top: 0;
                    margin-right: 0;
                }
            }
        }

        div {
            flex-direction: row;

            p {
                text-align: right;
            }
        }

        .chat {
            margin-top: px2vw(20, $m);

            a {
                margin-right: px2vw(38, $m);
                margin-left: px2vw(80, $m);
            }

            &::after {
                display: none;
            }
        }

        .call {
            a {
                margin-top: px2vw(38, $m);
                margin-right: px2vw(38, $m);
                margin-left: px2vw(80, $m);
            }

            p {
                margin-top: px2vw(38, $m);
            }
        }
    }

    .contacts {
        &::after {
            margin-top: px2vw(98, $m);
        }

        header {
            flex-direction: row;
            justify-content: center;

            h1 {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                width: px2vw(386, $m);
                margin-top: px2vw(74, $m);
                margin-right: px2vw(154, $m);
                margin-left: px2vw(100, $m);

                &::after {
                    width: px2vw(6, $m);
                    height: px2vw(60, $m);
                    margin-top: 0;
                    margin-left: 0;
                }
            }

            i {
                margin-top: px2vw(80, $m);
            }
        }

        .phone {
            flex-direction: row-reverse;
            align-items: center;
            margin-top: px2vw(68, $m);
            margin-right: px2vw(132, $m);

            span {
                width: max-content;
            }

            .row {
                margin-top: px2vw(8, $m);

                span {
                    margin-left: px2vw(54, $m);

                    &::before {
                        left: px2vw(-30, $m);
                    }
                }

                i {
                    margin-top: px2vw(-2, $m);
                }
            }

            div {
                margin-right: px2vw(74, $m);

                p {
                    width: max-content;
                    margin-top: 0;
                    margin-left: 0;
                    text-transform: lowercase;

                    span {
                        display: none;
                    }
                }
            }
        }

        .skype {
            flex-direction: row-reverse;
            align-items: center;
            margin-top: px2vw(66, $m);
            margin-right: px2vw(142, $m);
            margin-bottom: 0;

            .row {
                margin-top: px2vw(8, $m);

                a {
                    margin-left: px2vw(52, $m);

                    &::before {
                        left: px2vw(-28, $m);
                    }
                }
            }

            div {
                margin-right: px2vw(82, $m);

                p {
                    width: max-content;
                    margin-top: px2vw(6, $m);
                    margin-left: 0;
                    text-transform: lowercase;

                    span {
                        display: none;
                    }
                }
            }
        }

        .mail {
            flex-direction: row-reverse;
            align-items: center;
            margin-top: px2vw(64, $m);
            margin-right: px2vw(82, $m);

            .row {
                margin-top: px2vw(4, $m);
                margin-left: 0;

                a {
                    margin-left: px2vw(54, $m);

                    &::before {
                        left: px2vw(-28, $m);
                    }
                }
            }

            div {
                width: max-content;
                margin-right: px2vw(38, $m);
                margin-left: 0;

                p {
                    width: max-content;
                    margin-top: px2vw(6, $m);
                    text-transform: lowercase;

                    span {
                        display: none;
                    }
                }
            }
        }
    }

    .social {
        header {
            flex-direction: row-reverse;
            justify-content: center;

            i {
                margin-top: px2vw(56, $m);
                margin-right: px2vw(104, $m);
            }

            h1 {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: px2vw(462, $m);
                margin-top: px2vw(58, $m);
                margin-right: px2vw(180, $m);
                margin-left: 0;

                &::after {
                    width: px2vw(6, $m);
                    height: px2vw(60, $m);
                    margin-top: 0;
                    margin-right: 0;
                }
            }
        }

        .list {
            width: px2vw(982, $m);

            .item {
                flex-basis: auto;

                &:nth-child(2) {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}
