@import 'theme/MediaQueries';

@media #{$tabletPortrait} {
    $m: tabletPortrait;

    @import '../mobile';

    & {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .live {
        flex-basis: 50%;

        &::after {
            display: none;
        }

        header {
            i {
                width: px2vw(204, $m);
                margin-top: px2vw(106, $m);
                margin-left: px2vw(34, $m);
            }

            h1 {
                margin-top: px2vw(76, $m);
                margin-left: px2vw(34, $m);
                font-size: px2vw(50, $m);

                &::after {
                    width: px2vw(66, $m);
                    margin-top: px2vw(62, $m);
                    border-radius: 1px;
                }
            }
        }

        .chat {
            p {
                line-height: px2vw(44, $m);
            }

            a {
                margin-top: px2vw(48, $m);

                &::before {
                    margin-right: px2vw(36, $m);
                    background-size: px2vw(50, $m);
                }
            }

            &::after {
                width: px2vw(66, $m);
                margin-top: px2vw(60, $m);
            }
        }

        .call {
            margin-top: px2vw(50, $m);

            p {
                line-height: px2vw(44, $m);
            }

            a {
                margin-top: px2vw(48, $m);

                &::before {
                    margin-right: px2vw(38, $m);
                    background-size: px2vw(50, $m);
                }
            }
        }

        div {
            margin-top: px2vw(28, $m);
            margin-left: px2vw(34, $m);

            p {
                width: px2vw(460, $m);
                font-size: px2vw(34, $m);
            }

            a {
                width: px2vw(516, $m);
                height: px2vw(112, $m);
                font-size: px2vw(34, $m);

                &::before {
                    width: px2vw(105, $m);
                }
            }
        }
    }

    .contacts {
        flex-basis: 50%;

        &::after {
            display: none;
        }

        header {
            i {
                width: px2vw(166, $m);
                margin-top: px2vw(106, $m);
                margin-right: px2vw(52, $m);
            }

            h1 {
                margin-top: px2vw(74, $m);
                margin-right: px2vw(52, $m);
                font-size: px2vw(50, $m);

                &::after {
                    width: px2vw(66, $m);
                    margin-top: px2vw(62, $m);
                    border-radius: 1px;
                }
            }
        }

        div {
            div {
                width: px2vw(354, $m);
            }
        }

        .phone {
            margin-top: px2vw(72, $m);
            margin-right: px2vw(86, $m);

            .row {
                span {
                    margin-top: px2vw(2, $m);
                    margin-left: px2vw(62, $m);
                    font-size: px2vw(50, $m);
                    font-weight: bold;

                    &::before {
                        left: px2vw(-32, $m);
                        height: px2vw(40, $m);
                    }
                }

                i {
                    width: px2vw(58, $m);
                }
            }

            div {
                margin-top: px2vw(10, $m);
                margin-right: px2vw(48, $m);

                p {
                    font-size: px2vw(34, $m);
                    line-height: px2vw(46, $m);
                }
            }
        }

        .skype {
            margin-top: px2vw(72, $m);
            margin-right: px2vw(86, $m);

            .row {
                margin-top: 0;
                margin-right: px2vw(60, $m);

                a {
                    margin-top: 0;
                    margin-left: px2vw(64, $m);
                    font-size: px2vw(50, $m);
                    font-weight: bold;

                    &::before {
                        left: px2vw(-32, $m);
                        height: px2vw(40, $m);
                    }

                    &::after {
                        right: px2vw(-64, $m);
                    }
                }

                i {
                    width: px2vw(58, $m);
                    margin-top: px2vw(-2, $m);
                }
            }

            div {
                margin-top: px2vw(2, $m);
                margin-right: px2vw(52, $m);

                p {
                    font-size: px2vw(34, $m);
                    line-height: px2vw(46, $m);
                }
            }
        }

        .mail {
            margin-top: px2vw(48, $m);
            margin-right: px2vw(56, $m);

            .row {
                a {
                    margin-left: px2vw(66, $m);
                    font-size: px2vw(50, $m);
                    font-weight: bold;

                    &::before {
                        left: px2vw(-32, $m);
                        height: px2vw(40, $m);
                    }
                }

                i {
                    width: px2vw(58, $m);
                }
            }

            div {
                margin-top: px2vw(4, $m);
                margin-right: px2vw(88, $m);

                p {
                    font-size: px2vw(34, $m);
                    line-height: px2vw(46, $m);
                }
            }
        }
    }

    .social {
        header {
            h1 {
                margin-top: px2vw(76, $m);
                margin-right: px2vw(2, $m);
                font-size: px2vw(52, $m);

                &::after {
                    width: px2vw(66, $m);
                    margin-top: px2vw(72, $m);
                }
            }

            i {
                position: relative;
                width: px2vw(202, $m);
                margin-top: px2vw(86, $m);
                margin-right: px2vw(2, $m);

                &::after {
                    display: block;
                    position: absolute;
                    top: 63%;
                    right: px2vw(-590, $m);
                    width: px2vw(500, $m);
                    height: 3px;
                    background-image: url($componentRoot + 'divider-bg.svg');
                    content: '';

                }

                &::before {
                    display: block;
                    position: absolute;
                    top: 63%;
                    left: px2vw(-580, $m);
                    width: px2vw(500, $m);
                    height: 3px;
                    background-image: url($componentRoot + 'divider-bg.svg');
                    content: '';
                }
            }
        }

        .list {
            width: px2vw(1174, $m);

            .item {
                flex-basis: auto;
                margin-top: px2vw(106, $m);

                &:nth-child(2) {
                    &::after {
                        display: none;
                    }
                }

                i {
                    width: px2vw(114, $m);
                }

                span {
                    width: px2vw(82, $m);
                    height: px2vw(78, $m);
                    margin-top: px2vw(30, $m);
                    font-size: px2vw(36, $m);

                    &::before {
                        top: px2vw(-10, $m);
                        left: 50%;
                        width: px2vw(20, $m);
                        height: px2vw(20, $m);
                        margin-left: px2vw(-8, $m);
                        border-radius: 0 px2vw(2, $m) 0 0;
                    }
                }
            }
        }
    }
}
