@function getBlockWidth($blockSize, $rowSize) {
    $count: $rowSize / $blockSize;
    @return ($containerWidth - ($count - 1) * $blockMarginRight) / $count;
}

@function getElementHeight($aspect, $width) {
    @return $width / $aspect;
}

@mixin makeContainer() {
    width: #{$containerWidth}vw;
    margin: 0 auto;
}

@mixin makeRow() {
    display: flex;
    flex-wrap: wrap;
}

@mixin makeCol($blockSize, $rowSize) {
    $count: $rowSize / $blockSize;
    $width: getBlockWidth($blockSize, $rowSize);

    width: #{$width}vw;
    margin-right: #{$blockMarginRight}vw;
    margin-bottom: #{$blockMarginBottom}vw;

    &:nth-child(#{$count + 'n'}) {
        margin-right: 0;
    }
}
