@import '../mobile';

header {
    padding: 0 px(58) 0 px(60);
}

.listItems {
    padding-left: px(60);

    >li {
        .title {
            &::after {
                top: px(16);
            }
        }
    }

    &.operators {
        li {
            &.opened {
                margin-left: px(-60);
                padding-left: px(60);
            }
        }
    }
}
