@import 'theme/MediaQueries';

@media #{$phoneLandscape} {
    $m: phoneLandscape;

    @import '../mobile';

    header {
        padding: 0 px2vw(58, $m) 0 px2vw(60, $m);
    }

    .listItems {
        padding-left: px2vw(60, $m);

        >li {
            .title {
                &::after {
                    top: px2vw(16, $m);
                }
            }
        }

        &.operators {
            li {
                &.opened {
                    margin-left: px2vw(-60, $m);
                    padding-left: px2vw(60, $m);
                }
            }
        }
    }
}
