@import '../desktop';

.map {
    width: px(1436);
}

.region {
    position: fixed;
    top: 0;
    max-height: 85vh;
    overflow-y: scroll;

    header {
        margin-top: px(90);
        padding-right: px(100);

        h1 {
            margin-top: px(16);
            font-size: px(52);
        }

        .close {
            width: px(92);
            height: px(92);
        }
    }

    .head {
        margin-top: px(120);
        padding-left: px(96);

        .cities {
            width: px(570);
            font-size: px(34);

            &::before {
                width: px(74);
                height: px(60);
                margin-right: px(47);
            }

            &::after {
                width: px(243);
                margin-left: px(50);
            }
        }

        .operators {
            font-size: px(34);

            &::before {
                width: px(54);
                height: px(50);
                margin-right: px(47);
            }

            &::after {
                width: px(280);
                margin-left: px(44);
            }
        }
    }

    .content {
        .cities {
            width: px(515);
            margin-top: px(56);
            padding-left: px(71);

            li {
                padding-top: px(50);
                padding-bottom: px(50);
                padding-left: px(46);
                font-size: px(34);

                &:first-child {
                    &::after {
                        top: px(-28);
                        height: px(163);
                    }
                }

                &:last-child {
                    &::after {
                        height: px(152);
                    }
                }

                &::after {
                    right: px(-76);
                }

                &.selected {
                    width: px(526);
                    padding-top: px(50);
                    padding-bottom: px(48);
                    padding-left: px(48);
                }
            }
        }

        .operators {
            width: px(748);
            margin-left: px(74);
            padding-top: px(110);
            padding-left: px(76);

            li {
                margin-bottom: px(100);
                font-size: px(34);

                &.selected {
                    margin-bottom: px(68);

                    .contacts {
                        width: px(654);
                        margin-top: px(64);

                        ul {
                            padding-left: px(100);

                            &::before {
                                left: px(34);
                                width: px(42);
                                height: px(42);
                            }

                            li {
                                margin-bottom: px(28);
                            }
                        }

                        a {
                            margin-bottom: px(32);
                            margin-left: px(32);
                            padding-left: px(70);
                            font-size: px(34);

                            &::before {
                                top: px(6);
                                left: px(4);
                                width: px(42);
                                height: px(42);
                            }

                            &::after {
                                font-size: px(34);
                            }
                        }
                    }
                }
            }
        }
    }
}
