& {
    .map {
        position: relative;
        width: px2vw(1812, $scaleFactor);
        margin: 0 auto;
        padding-top: px2vw(110, $scaleFactor);

        .hint {
            position: absolute;
            bottom: px2vw(150, $scaleFactor);
            left: px2vw(80, $scaleFactor);

            p {
                color: $color10;
                font-size: px2vw(30, $scaleFactor);
                font-weight: bold;
                text-align: right;
            }

            span {
                display: inline-block;
                width: px2vw(286, $scaleFactor);
                margin-top: px2vw(15, $scaleFactor);
                color: $color10;
                font-size: px2vw(26, $scaleFactor);
                font-style: italic;
                line-height: px2vw(30, $scaleFactor);
                text-align: right;
            }

            &::before {
                display: block;
                position: absolute;
                top: px2vw(-106, $scaleFactor);
                right: px2vw(-148, $scaleFactor);
                width: px2vw(128, $scaleFactor);
                height: px2vw(130, $scaleFactor);
                background: url($componentRoot + 'Images/arrowsIcon-bg.svg') no-repeat;
                content: '';
            }
        }
    }

    .region {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: $color8;

        header {
            display: flex;
            justify-content: space-between;
            height: px2vw(90, $scaleFactor);
            margin-top: px2vw(64, $scaleFactor);
            padding-right: px2vw(122, $scaleFactor);
            padding-left: px2vw(96, $scaleFactor);

            h1 {
                position: relative;
                width: 100%;
                margin-top: px2vw(10, $scaleFactor);
                margin-left: px2vw(100, $scaleFactor);
                color: $color11;
                font-size: px2vw(44, $scaleFactor);
                font-weight: bold;
                text-align: center;

                &::after {
                    position: absolute;
                    top: px2vw(78, $scaleFactor);
                    left: 50%;
                    width: px2vw(50, $scaleFactor);
                    height: px2vw(6, $scaleFactor);
                    margin-left: px2vw(-25, $scaleFactor);
                    border-radius: 3px;
                    background-color: $color12;
                    content: '';
                }
            }

            .close {
                display: block;
                width: px2vw(90, $scaleFactor);
                height: px2vw(90, $scaleFactor);
                background: url($componentRoot + 'Images/closeOperatorsIcon-bg.svg') no-repeat;
            }
        }

        .head {
            display: flex;
            margin-top: px2vw(84, $scaleFactor);
            padding-right: px2vw(100, $scaleFactor);
            padding-left: px2vw(120, $scaleFactor);

            .mapTitle {
                display: flex;
                width: px2vw(620, $scaleFactor);
                margin-right: px2vw(12, $scaleFactor);
                color: $color10;
                font-size: px2vw(28, $scaleFactor);
                font-weight: bold;

                span {
                    margin-top: px2vw(10, $scaleFactor);
                    margin-left: px2vw(2, $scaleFactor);
                }

                &::before {
                    display: block;
                    width: px2vw(42, $scaleFactor);
                    height: px2vw(50, $scaleFactor);
                    margin-right: px2vw(30, $scaleFactor);
                    background: url($componentRoot + 'Images/mapIcon-bg.svg') no-repeat;
                    content: '';
                }

                &::after {
                    width: px2vw(300, $scaleFactor);
                    height: px2vw(2, $scaleFactor);
                    margin-top: px2vw(26, $scaleFactor);
                    margin-left: px2vw(40, $scaleFactor);
                    background-color: $color13;
                    content: '';
                }
            }

            .cities {
                display: flex;
                width: px2vw(500, $scaleFactor);
                color: $color10;
                font-size: px2vw(28, $scaleFactor);
                font-weight: bold;

                span {
                    margin-top: px2vw(10, $scaleFactor);
                    margin-left: px2vw(2, $scaleFactor);
                }

                &::before {
                    display: block;
                    width: px2vw(64, $scaleFactor);
                    height: px2vw(48, $scaleFactor);
                    margin-right: px2vw(34, $scaleFactor);
                    background: url($componentRoot + 'Images/cityIcon-bg.svg') no-repeat;
                    content: '';
                }

                &::after {
                    width: px2vw(230, $scaleFactor);
                    height: px2vw(2, $scaleFactor);
                    margin-top: px2vw(26, $scaleFactor);
                    margin-left: px2vw(46, $scaleFactor);
                    background-color: $color13;
                    content: '';
                }
            }

            .operators {
                display: flex;
                color: $color10;
                font-size: px2vw(28, $scaleFactor);
                font-weight: bold;

                span {
                    margin-top: px2vw(10, $scaleFactor);
                }

                &::before {
                    display: block;
                    width: px2vw(46, $scaleFactor);
                    height: px2vw(42, $scaleFactor);
                    margin-right: px2vw(34, $scaleFactor);
                    background: url($componentRoot + 'Images/cablesIcon-bg.svg') no-repeat;
                    content: '';
                }

                &::after {
                    width: px2vw(278, $scaleFactor);
                    height: px2vw(2, $scaleFactor);
                    margin-top: px2vw(26, $scaleFactor);
                    margin-left: px2vw(40, $scaleFactor);
                    background-color: $color13;
                    content: '';
                }
            }
        }

        .content {
            display: flex;
            padding-right: px2vw(98, $scaleFactor);
            padding-left: px2vw(98, $scaleFactor);

            .regionMap {
                width: px2vw(590, $scaleFactor);
                height: px2vw(330, $scaleFactor);
                margin-top: px2vw(108, $scaleFactor);
                margin-left: px2vw(20, $scaleFactor);
                background-color: $color12;
            }

            .cities {
                width: px2vw(500, $scaleFactor);
                margin-top: px2vw(66, $scaleFactor);
                margin-bottom: px2vw(96, $scaleFactor);
                padding-top: px2vw(8, $scaleFactor);
                padding-left: px2vw(110, $scaleFactor);

                li {
                    position: relative;
                    padding-top: px2vw(30, $scaleFactor);
                    padding-bottom: px2vw(30, $scaleFactor);
                    padding-left: px2vw(28, $scaleFactor);
                    border-bottom: 1px solid $color13;
                    color: $color11;
                    font-size: px2vw(28, $scaleFactor);

                    &:first-child {
                        &::after {
                            top: px2vw(-36, $scaleFactor);
                            height: px2vw(126, $scaleFactor);
                        }
                    }

                    &:last-child {
                        border-bottom: 0;

                        &::after {
                            height: px2vw(122, $scaleFactor);
                        }
                    }

                    &::after {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: px2vw(-60, $scaleFactor);
                        width: 1px;
                        height: px2vw(136, $scaleFactor);
                        background-color: $color13;
                        content: '';
                    }

                    &.selected {
                        width: px2vw(456, $scaleFactor);
                        margin-top: -1px;
                        margin-left: -3px;
                        padding-top: px2vw(30, $scaleFactor);
                        padding-bottom: px2vw(30, $scaleFactor);
                        padding-left: px2vw(30, $scaleFactor);
                        border-top: 1px solid $color13;
                        border-right: 0;
                        border-bottom: 1px solid $color13;
                        border-left: 1px solid $color13;
                        border-radius: 6px 0 0 6px;
                        color: $color7;
                        font-weight: bold;

                        &::after {
                            display: none;
                        }
                    }
                }
            }

            .operators {
                width: px2vw(640, $scaleFactor);
                margin-left: px2vw(60, $scaleFactor);
                padding-top: px2vw(100, $scaleFactor);
                padding-left: px2vw(62, $scaleFactor);

                li {
                    margin-bottom: px2vw(54, $scaleFactor);
                    color: $color10;
                    font-size: px2vw(28, $scaleFactor);

                    &.selected {
                        margin-bottom: px2vw(44, $scaleFactor);

                        .title {
                            display: flex;
                            color: $color7;
                            font-weight: bold;
                        }

                        .contacts {
                            width: px2vw(560, $scaleFactor);
                            margin-top: px2vw(40, $scaleFactor);
                            border: 1px solid $color15;
                            border-radius: 6px;
                            background-color: $color14;

                            ul {
                                position: relative;
                                margin-top: px2vw(56, $scaleFactor);
                                margin-bottom: px2vw(56, $scaleFactor);
                                padding-top: px2vw(8, $scaleFactor);
                                padding-bottom: px2vw(0, $scaleFactor);
                                padding-left: px2vw(80, $scaleFactor);

                                &::before {
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: px2vw(30, $scaleFactor);
                                    width: px2vw(36, $scaleFactor);
                                    height: px2vw(36, $scaleFactor);
                                    background: url($componentRoot + 'Images/phoneMenuIcon-bg.svg') no-repeat;
                                    content: '';
                                }

                                li {
                                    margin-bottom: px2vw(26, $scaleFactor);
                                    font-weight: normal;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }

                                &.withWebsite {
                                    margin-bottom: 0;
                                    padding-bottom: px2vw(56, $scaleFactor);
                                    border-bottom: 1px solid $color15;
                                }
                            }

                            a {
                                display: inline-block;
                                position: relative;
                                margin-top: px2vw(30, $scaleFactor);
                                margin-bottom: px2vw(34, $scaleFactor);
                                margin-left: px2vw(26, $scaleFactor);
                                padding-top: px2vw(14, $scaleFactor);
                                padding-left: px2vw(54, $scaleFactor);
                                color: $color7;
                                font-size: px2vw(28, $scaleFactor);
                                font-weight: bold;
                                text-decoration: none;

                                &::before {
                                    display: block;
                                    position: absolute;
                                    top: px2vw(10, $scaleFactor);
                                    left: px2vw(0, $scaleFactor);
                                    width: px2vw(36, $scaleFactor);
                                    height: px2vw(36, $scaleFactor);
                                    background: url($componentRoot + 'Images/earthMenuIcon-bg.svg') no-repeat;
                                    content: '';
                                }

                                &::after {
                                    margin-left: px2vw(8, $scaleFactor);
                                    font-family: Arial;
                                    font-size: px2vw(28, $scaleFactor);
                                    content: '→';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
