& {
    position: relative;

    .map {
        position: relative;
        width: px(1812);
        margin: 0 auto;
        padding-top: px(110);

        .hint {
            position: absolute;
            bottom: px(280);
            left: px(200);

            p {
                color: $color10;
                font-size: px(30);
                font-weight: bold;
                text-align: right;
            }

            span {
                display: inline-block;
                width: px(286);
                margin-top: px(15);
                color: $color10;
                font-size: px(26);
                font-style: italic;
                line-height: px(30);
                text-align: right;
            }

            &::before {
                display: block;
                position: absolute;
                top: px(-106);
                right: px(-148);
                width: px(128);
                height: px(130);
                background: url($componentRoot + 'arrowsIcon-bg.svg') no-repeat;
                content: '';
            }
        }
    }

    .region {
        position: absolute;
        top: px(500);
        width: 100%;
        background-color: $color8;
        z-index: 1;

        header {
            display: flex;
            justify-content: space-between;
            height: px(90);
            margin-top: px(64);
            padding-right: px(122);
            padding-left: px(96);

            h1 {
                position: relative;
                width: 100%;
                margin-top: px(10);
                margin-left: px(100);
                color: $color11;
                font-size: px(44);
                font-weight: bold;
                text-align: center;

                &::after {
                    position: absolute;
                    top: px(78);
                    left: 50%;
                    width: px(50);
                    height: px(6);
                    margin-left: px(-25);
                    border-radius: 3px;
                    background-color: $color12;
                    content: '';
                }
            }

            .close {
                display: block;
                width: px(90);
                height: px(90);
                background: url($componentRoot + 'closeOperatorsIcon-bg.svg') no-repeat;
            }
        }

        .head {
            display: flex;
            width: px(1828);
            margin: px(84) auto 0;

            .mapTitle {
                display: flex;
                width: px(620);
                margin-right: px(12);
                color: $color10;
                font-size: px(28);
                font-weight: bold;

                span {
                    margin-top: px(10);
                    margin-left: px(2);
                }

                &::before {
                    display: block;
                    width: px(42);
                    height: px(50);
                    margin-right: px(30);
                    background: url($componentRoot + 'mapIcon-bg.svg') no-repeat;
                    content: '';
                }

                &::after {
                    width: px(300);
                    height: px(2);
                    margin-top: px(26);
                    margin-left: px(40);
                    background-color: $color13;
                    content: '';
                }
            }

            .cities {
                display: flex;
                width: px(500);
                color: $color10;
                font-size: px(28);
                font-weight: bold;

                span {
                    margin-top: px(10);
                    margin-left: px(2);
                }

                &::before {
                    display: block;
                    width: px(64);
                    height: px(48);
                    margin-right: px(34);
                    background: url($componentRoot + 'cityIcon-bg.svg') no-repeat;
                    content: '';
                }

                &::after {
                    width: px(230);
                    height: px(2);
                    margin-top: px(26);
                    margin-left: px(46);
                    background-color: $color13;
                    content: '';
                }
            }

            .operators {
                display: flex;
                color: $color10;
                font-size: px(28);
                font-weight: bold;

                span {
                    margin-top: px(10);
                }

                &::before {
                    display: block;
                    width: px(46);
                    height: px(42);
                    margin-right: px(34);
                    background: url($componentRoot + 'cablesIcon-bg.svg') no-repeat;
                    content: '';
                }

                &::after {
                    width: px(278);
                    height: px(2);
                    margin-top: px(26);
                    margin-left: px(40);
                    background-color: $color13;
                    content: '';
                }
            }
        }

        .content {
            display: flex;
            width: px(1652);
            margin: 0 auto;

            .regionMap {
                width: px(590);
                margin-top: px(108);
                margin-bottom: px(60);
                margin-left: px(20);
            }

            .cities {
                width: px(500);
                max-height: px(800);
                margin-top: px(66);
                margin-bottom: px(96);
                padding-top: px(8);
                padding-left: px(110);
                overflow-y: scroll;

                li {
                    position: relative;
                    padding-top: px(30);
                    padding-bottom: px(30);
                    padding-left: px(28);
                    border-bottom: 1px solid $color13;
                    color: $color11;
                    font-size: px(28);

                    &:hover {
                        color: $color16;
                        font-weight: bold;
                        cursor: pointer;
                    }

                    &:first-child {
                        &::after {
                            top: px(-36);
                            height: px(126);
                        }
                    }

                    &:last-child {
                        border-bottom: 0;

                        &::after {
                            height: px(122);
                        }
                    }

                    &::after {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: px(-62);
                        width: 1px;
                        height: px(90);
                        background-color: $color13;
                        content: '';
                    }

                    &.selected {
                        width: px(456);
                        margin-top: -1px;
                        margin-left: -3px;
                        padding-top: px(30);
                        padding-bottom: px(30);
                        padding-left: px(30);
                        border-top: 1px solid $color13;
                        border-right: 0;
                        border-bottom: 1px solid $color13;
                        border-left: 1px solid $color13;
                        border-radius: 6px 0 0 6px;
                        color: $color7;
                        font-weight: bold;

                        &::after {
                            display: none;
                        }
                    }
                }
            }

            .operators {
                width: px(640);
                margin-left: px(60);
                padding-top: px(100);
                padding-left: px(62);

                li {
                    margin-bottom: px(54);
                    color: $color10;
                    font-size: px(28);

                    .title {
                        display: inline-flex;
                        color: $color10;

                        &:hover {
                            color: $color16;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }

                    &.selected {
                        margin-bottom: px(44);

                        .title {
                            display: inline-flex;
                            color: $color7;

                            &:hover {
                                font-weight: normal;
                                cursor: default;
                            }
                        }

                        .contacts {
                            width: px(560);
                            margin-top: px(40);
                            border: 1px solid $color15;
                            border-radius: 6px;
                            background-color: $color14;

                            ul {
                                position: relative;
                                margin-top: px(56);
                                margin-bottom: px(56);
                                padding-top: px(8);
                                padding-bottom: px(0);
                                padding-left: px(80);

                                &::before {
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: px(30);
                                    width: px(36);
                                    height: px(36);
                                    background: url($componentRoot + 'phoneMenuIcon-bg.svg') no-repeat;
                                    content: '';
                                }

                                li {
                                    margin-bottom: px(26);
                                    font-weight: normal;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }

                                &.withWebsite {
                                    margin-bottom: 0;
                                    padding-bottom: px(56);
                                    border-bottom: 1px solid $color15;
                                }
                            }

                            a {
                                display: inline-block;
                                position: relative;
                                margin-top: px(30);
                                margin-bottom: px(34);
                                margin-left: px(26);
                                padding-top: px(14);
                                padding-left: px(54);
                                color: $color7;
                                font-size: px(28);
                                font-weight: bold;
                                text-decoration: none;

                                &::before {
                                    display: block;
                                    position: absolute;
                                    top: px(10);
                                    left: px(0);
                                    width: px(36);
                                    height: px(36);
                                    background: url($componentRoot + 'earthMenuIcon-bg.svg') no-repeat;
                                    content: '';
                                }

                                &::after {
                                    margin-left: px(8);
                                    font-family: Arial;
                                    font-size: px(28);
                                    content: '→';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
