& {
    position: relative;

    .map {
        position: relative;
        width: px2vw(1812, $m);
        margin: 0 auto;
        padding-top: px2vw(110, $m);

        .hint {
            position: absolute;
            bottom: px2vw(280, $m);
            left: px2vw(200, $m);

            p {
                color: $color10;
                font-size: px2vw(30, $m);
                font-weight: bold;
                text-align: right;
            }

            span {
                display: inline-block;
                width: px2vw(286, $m);
                margin-top: px2vw(15, $m);
                color: $color10;
                font-size: px2vw(26, $m);
                font-style: italic;
                line-height: px2vw(30, $m);
                text-align: right;
            }

            &::before {
                display: block;
                position: absolute;
                top: px2vw(-106, $m);
                right: px2vw(-148, $m);
                width: px2vw(128, $m);
                height: px2vw(130, $m);
                background: url($componentRoot + 'Images/arrowsIcon-bg.svg') no-repeat;
                content: '';
            }
        }
    }

    .region {
        position: absolute;
        top: px2vw(500, $m);
        width: 100%;
        background-color: $color8;
        z-index: 1;

        header {
            display: flex;
            justify-content: space-between;
            height: px2vw(90, $m);
            margin-top: px2vw(64, $m);
            padding-right: px2vw(122, $m);
            padding-left: px2vw(96, $m);

            h1 {
                position: relative;
                width: 100%;
                margin-top: px2vw(10, $m);
                margin-left: px2vw(100, $m);
                color: $color11;
                font-size: px2vw(44, $m);
                font-weight: bold;
                text-align: center;

                &::after {
                    position: absolute;
                    top: px2vw(78, $m);
                    left: 50%;
                    width: px2vw(50, $m);
                    height: px2vw(6, $m);
                    margin-left: px2vw(-25, $m);
                    border-radius: 3px;
                    background-color: $color12;
                    content: '';
                }
            }

            .close {
                display: block;
                width: px2vw(90, $m);
                height: px2vw(90, $m);
                background: url($componentRoot + 'Images/closeOperatorsIcon-bg.svg') no-repeat;
            }
        }

        .head {
            display: flex;
            width: px2vw(1828, $m);
            margin: px2vw(84, $m) auto 0;

            .mapTitle {
                display: flex;
                width: px2vw(620, $m);
                margin-right: px2vw(12, $m);
                color: $color10;
                font-size: px2vw(28, $m);
                font-weight: bold;

                span {
                    margin-top: px2vw(10, $m);
                    margin-left: px2vw(2, $m);
                }

                &::before {
                    display: block;
                    width: px2vw(42, $m);
                    height: px2vw(50, $m);
                    margin-right: px2vw(30, $m);
                    background: url($componentRoot + 'Images/mapIcon-bg.svg') no-repeat;
                    content: '';
                }

                &::after {
                    width: px2vw(300, $m);
                    height: px2vw(2, $m);
                    margin-top: px2vw(26, $m);
                    margin-left: px2vw(40, $m);
                    background-color: $color13;
                    content: '';
                }
            }

            .cities {
                display: flex;
                width: px2vw(500, $m);
                color: $color10;
                font-size: px2vw(28, $m);
                font-weight: bold;

                span {
                    margin-top: px2vw(10, $m);
                    margin-left: px2vw(2, $m);
                }

                &::before {
                    display: block;
                    width: px2vw(64, $m);
                    height: px2vw(48, $m);
                    margin-right: px2vw(34, $m);
                    background: url($componentRoot + 'Images/cityIcon-bg.svg') no-repeat;
                    content: '';
                }

                &::after {
                    width: px2vw(230, $m);
                    height: px2vw(2, $m);
                    margin-top: px2vw(26, $m);
                    margin-left: px2vw(46, $m);
                    background-color: $color13;
                    content: '';
                }
            }

            .operators {
                display: flex;
                color: $color10;
                font-size: px2vw(28, $m);
                font-weight: bold;

                span {
                    margin-top: px2vw(10, $m);
                }

                &::before {
                    display: block;
                    width: px2vw(46, $m);
                    height: px2vw(42, $m);
                    margin-right: px2vw(34, $m);
                    background: url($componentRoot + 'Images/cablesIcon-bg.svg') no-repeat;
                    content: '';
                }

                &::after {
                    width: px2vw(278, $m);
                    height: px2vw(2, $m);
                    margin-top: px2vw(26, $m);
                    margin-left: px2vw(40, $m);
                    background-color: $color13;
                    content: '';
                }
            }
        }

        .content {
            display: flex;
            width: px2vw(1652, $m);
            margin: 0 auto;

            .regionMap {
                width: px2vw(590, $m);
                margin-top: px2vw(108, $m);
                margin-bottom: px2vw(60, $m);
                margin-left: px2vw(20, $m);
            }

            .cities {
                width: px2vw(500, $m);
                max-height: px2vw(800, $m);
                margin-top: px2vw(66, $m);
                margin-bottom: px2vw(96, $m);
                padding-top: px2vw(8, $m);
                padding-left: px2vw(110, $m);
                overflow-y: scroll;

                li {
                    position: relative;
                    padding-top: px2vw(30, $m);
                    padding-bottom: px2vw(30, $m);
                    padding-left: px2vw(28, $m);
                    border-bottom: 1px solid $color13;
                    color: $color11;
                    font-size: px2vw(28, $m);

                    &:hover {
                        color: $color16;
                        font-weight: bold;
                        cursor: pointer;
                    }

                    &:first-child {
                        &::after {
                            top: px2vw(-36, $m);
                            height: px2vw(126, $m);
                        }
                    }

                    &:last-child {
                        border-bottom: 0;

                        &::after {
                            height: px2vw(122, $m);
                        }
                    }

                    &::after {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: px2vw(-62, $m);
                        width: 1px;
                        height: px2vw(90, $m);
                        background-color: $color13;
                        content: '';
                    }

                    &.selected {
                        width: px2vw(456, $m);
                        margin-top: -1px;
                        margin-left: -3px;
                        padding-top: px2vw(30, $m);
                        padding-bottom: px2vw(30, $m);
                        padding-left: px2vw(30, $m);
                        border-top: 1px solid $color13;
                        border-right: 0;
                        border-bottom: 1px solid $color13;
                        border-left: 1px solid $color13;
                        border-radius: 6px 0 0 6px;
                        color: $color7;
                        font-weight: bold;

                        &::after {
                            display: none;
                        }
                    }
                }
            }

            .operators {
                width: px2vw(640, $m);
                margin-left: px2vw(60, $m);
                padding-top: px2vw(100, $m);
                padding-left: px2vw(62, $m);

                li {
                    margin-bottom: px2vw(54, $m);
                    color: $color10;
                    font-size: px2vw(28, $m);

                    .title {
                        display: inline-flex;
                        color: $color10;

                        &:hover {
                            color: $color16;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }

                    &.selected {
                        margin-bottom: px2vw(44, $m);

                        .title {
                            display: inline-flex;
                            color: $color7;

                            &:hover {
                                font-weight: normal;
                                cursor: default;
                            }
                        }

                        .contacts {
                            width: px2vw(560, $m);
                            margin-top: px2vw(40, $m);
                            border: 1px solid $color15;
                            border-radius: 6px;
                            background-color: $color14;

                            ul {
                                position: relative;
                                margin-top: px2vw(56, $m);
                                margin-bottom: px2vw(56, $m);
                                padding-top: px2vw(8, $m);
                                padding-bottom: px2vw(0, $m);
                                padding-left: px2vw(80, $m);

                                &::before {
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: px2vw(30, $m);
                                    width: px2vw(36, $m);
                                    height: px2vw(36, $m);
                                    background: url($componentRoot + 'Images/phoneMenuIcon-bg.svg') no-repeat;
                                    content: '';
                                }

                                li {
                                    margin-bottom: px2vw(26, $m);
                                    font-weight: normal;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }

                                &.withWebsite {
                                    margin-bottom: 0;
                                    padding-bottom: px2vw(56, $m);
                                    border-bottom: 1px solid $color15;
                                }
                            }

                            a {
                                display: inline-block;
                                position: relative;
                                margin-top: px2vw(30, $m);
                                margin-bottom: px2vw(34, $m);
                                margin-left: px2vw(26, $m);
                                padding-top: px2vw(14, $m);
                                padding-left: px2vw(54, $m);
                                color: $color7;
                                font-size: px2vw(28, $m);
                                font-weight: bold;
                                text-decoration: none;

                                &::before {
                                    display: block;
                                    position: absolute;
                                    top: px2vw(10, $m);
                                    left: px2vw(0, $m);
                                    width: px2vw(36, $m);
                                    height: px2vw(36, $m);
                                    background: url($componentRoot + 'Images/earthMenuIcon-bg.svg') no-repeat;
                                    content: '';
                                }

                                &::after {
                                    margin-left: px2vw(8, $m);
                                    font-family: Arial;
                                    font-size: px2vw(28, $m);
                                    content: '→';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
