$componentRoot: 'theme/components/Locator/';

$color1: #0c262d;
$color2: rgba(255, 255, 255, .2);
$color3: #091a1e;
$color4: rgba(255, 255, 255, .06);
$color5: #7f8e91;
$color6: rgba(255, 255, 255, .4);
$color7: #2792b2;
$color8: #fff;
$color9: rgba(255, 255, 255, .5);
$color10: #6e7b7d;
