$componentRoot: 'components/WatchUs/Locator/Assets/';

$color1: $paletteColor14;
$color2: $paletteColor15;
$color3: $paletteColor16;
$color4: $paletteColor17;
$color5: $paletteColor18;
$color6: $paletteColor19;
$color7: $paletteColor2;
$color8: $paletteColor6;
$color9: $paletteColor20;
$color10: $paletteColor9;
$color11: $paletteColor3;
$color12: $paletteColor1;
$color13: $paletteColor13;
$color14: $paletteColor21;
$color15: $paletteColor21;
$color16: $paletteColor3;
