$componentRoot: 'components/WatchUs/Locator/Assets/';

$color1: #0c262d;
$color2: rgba(255, 255, 255, .2);
$color3: #091a1e;
$color4: rgba(255, 255, 255, .06);
$color5: #7f8e91;
$color6: rgba(255, 255, 255, .4);
$color7: $paletteColor2;
$color8: $paletteColor6;
$color9: rgba(255, 255, 255, .5);
$color10: #6e7b7d;
$color11: #52666a;
$color12: $paletteColor1;
$color13: #dfe1e2;
$color14: #f9f8f8;
$color15: #e8eaea;
$color16: $paletteColor3;
